*.[oa]
*.cache
.dirstamp
/Makefile
/Makefile.in
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/realpath
/realpath-*.tar.*
/src/.deps
/stamp-h1
/stamp.h*
autoscan.log
configure.scan
.version
