*.[oa]


# Autobuild
*.cache
.dirstamp
/ChangeLog
/Makefile
/Makefile.in
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/man/*.1
/realpath
/realpath-*.tar.*
/src/.deps
/stamp-h1
/stamp.h*
autoscan.log
configure.scan
.version

# ctags
tags
.tags*

# Intellij
/.idea/
